#Raspberry Pi 3 Model B Plus Rev 1.3
#BTT SKR mini E3 v3.0
#STM32G0B1

[mcu]
serial: /dev/ttyAMA0 #USART2(PA3/PA2)
baud: 250000
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexz
max_velocity: 500
max_accel: 3000
max_z_velocity: 50
max_z_accel: 500
square_corner_velocity: 4.0

[static_digital_output usb_pullup_enable]
pins: !PA14

[idle_timeout]
timeout: 14400

[delayed_gcode _INIT]
initial_duration: 1
gcode:
     _set_nozzle_leds_on

[exclude_object]
[include includes/bed_mesh.cfg]
[include includes/brush.cfg]
[include includes/config_backup.cfg]
[include includes/fans.cfg]
[include includes/filament.cfg]
[include includes/heaters.cfg]
[include includes/homing.cfg]
[include includes/input_shaper.cfg]
[include includes/leds.cfg]
[include mainsail.cfg]
[include moonraker_obico_macros.cfg]
[include includes/print_macros.cfg]
[include includes/probe.cfg]
[include includes/spoolman.cfg]
[include includes/steppers.cfg]
[include includes/temp_sensors.cfg]
[include includes/tmc.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.397
#*# pid_ki = 1.419
#*# pid_kd = 122.747
#*#
#*# [probe]
#*# version = 1
#*# points =
#*# 	-0.287500, -0.275000, -0.212500, -0.150000, -0.000000, 0.100000
#*# 	-0.175000, -0.175000, -0.150000, -0.112500, -0.025000, 0.050000
#*# 	-0.075000, -0.125000, -0.125000, -0.112500, -0.075000, -0.025000
#*# 	-0.025000, -0.062500, -0.062500, -0.037500, 0.012500, 0.037500
#*# 	0.062500, -0.012500, -0.000000, 0.025000, 0.062500, 0.112500
#*# 	0.225000, 0.137500, 0.087500, 0.075000, 0.112500, 0.125000
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 35.0G91
#*# x_count = 6
#*# max_y = 220.0
#*# mesh_x_pps = 2
#*# max_x = 220.0
#*# z_offset = -0.950
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.172
#*# pid_ki = 1.383
#*# pid_kd = 915.448
#*#
#*# [input_shaper]
#*# shaper_type_y = mzv
#*# shaper_freq_y = 35.2
#*# shaper_type_x = ei
#*# shaper_freq_x = 42.8
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.025000, -0.043750, -0.000000, -0.000000
#*# 	0.037500, -0.006250, -0.012500, -0.062500
#*# 	-0.037500, -0.056250, -0.037500, -0.087500
#*# 	-0.037500, -0.156250, -0.175000, -0.262500
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = bicubic
#*# y_count = 4
#*# mesh_y_pps = 2
#*# min_y = 35.0
#*# x_count = 4
#*# max_y = 200.0
#*# mesh_x_pps = 2
#*# max_x = 199.99
