[gcode_macro M600]
gcode:    
     PAUSE X=220 Y=220 Z-MIN=50 
     G91 #relative mode
     G1 E-3 F1500
     G1 Z25
     G90 #Absolute positioning
     SET_IDLE_TIMEOUT TIMEOUT=7200
     
[gcode_macro LOAD_FILAMENT]
gcode:     
     G91
     G1 E60 F300
     G1 E-1 F300
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
gcode:
     G91
     G1 E1 F1500    
     G1 E-80 F300
     RESTORE_GCODE_STATE NAME=unload_state

[gcode_macro FILAMENT_CHANGE]
gcode:  
     _CG28
     #PAUSE      
     G91
     G1 E 1 F1500
     G1 E-3.14 F1500
     G1 Z25
     G90
     G1 X220 Y-20 F3000    
     SET_IDLE_TIMEOUT TMEOUT=7200    
     FILAMENT_UNLOAD
     
[gcode_macro FILAMENT_LOAD]
gcode:
      G91
      G1 E160 F300
      G1 E-1 F300
      G90
      
[gcode_macro FILAMENT_UNLOAD]
gcode:
     G91
     G1 E1 F1500    
     G1 E-80 F1500
     G90
     SPOOL_CLEAR_ACTIVE